@CHARSET "UTF-8";
body {
	font-family:helvetica;
	font-size: 12px;
}

#taskToCompl {
	display:inline;
	color:blue;
	font-weight: bold;
}
#taskCompleted {
	display:inline;
	color:red;
	font-weight: bold;
}


#taskSubToCompl {
	display:inline;
	color:blue;
	font-weight: bold;
}
#taskSubCompleted {
	display:inline;
	color:red;
	font-weight: bold;
}

#displayInfo {
	padding:5px;
	display:block;
	font-size: larger;
}
#datePicker {
	width:100px;
}

input[name*=task_] {
	color:red;
	font-size:15px;
}

.overInfo {
	font-size:larger;
}

#zoznam_dl{
	width:250px;
}


#listView {
	height:300px;
	visibility:visible;
	overflow:scroll;
	
}